<div class="container">
  <div class="row vertical-center-row">
      <div class="col-xs-2 col-xs-offset-5 text-center well">
        <h3><%= t('global_words.loading') %>...</h3><br>
        <div class="progress">
          <div class="progress-bar progress-bar-success" id="loading_bar">
          </div>
        </div>
      </div>
  </div>
</div>